main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
}

.main-title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;

}

.sub-title {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}